 <%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, class:"form-control form-group", placeholder:"title" %>
  </div>
  <div class="field">
    <%= f.text_field :sneakpeak, class:"form-control form-group", placeholder:"sneakpeak" %>
  </div>
  <div class="field">
    <%= f.text_field :image, class:"form-control form-group", placeholder:"Image URL" %>
  </div>
  <div class="field">
    <%= f.select(:categorie, ['Books', 'Business', 'Software'], {}, { :class => 'form-control form-group input-sm' }) %>
  </div>
  <div class="field">
    <%= f.text_area :body, class:"form-control form-group", placeholder:"Body Text" %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>